body{
    position: relative;
    background-color: whitesmoke;
    font-family: 'Century Gothic';
}
div{
    width: 40%;
    padding: 20px;
    text-align: center;    
    box-shadow: 5px 2px 5px #707070;
    background-color: rgb(231, 231, 231);
    margin: 10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

div button{
    width: 60%;
    padding: 10px;
    border: 0px;
    font-size: 16px;
    border-radius: 20px;
    background-color: rgb(28, 158, 97);
    color: white;
    box-shadow: 5px 2px 5px #707070;
    outline: none;
    cursor: pointer;
}
div h1{
    margin-bottom: 25px;
    color:rgb(28, 158, 97);;
    font-size: 30px;
}
form{
    width: 45%;
    padding: 20px;
    text-align: center;    
    box-shadow: 5px 2px 5px #707070;
    background-color: rgb(231, 231, 231);
    margin: 10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

form h1{
    margin-bottom: 25px;
    color:rgb(28, 158, 97);;
    font-size: 30px;
}

form  .inputs{
    width: 80%;
    box-shadow: 5px 2px 5px #707070;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}


form  .inputs_doc{
    width: 80%;
    box-shadow: 5px 2px 5px #707070;
    border: 0px;
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
    outline: none;
    display: none;
}

form .button_doc{
    width: 40%;
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    background-color: rgb(28, 158, 97);
    color: white;
    box-shadow: 5px 2px 5px #707070;
    outline: none;
    cursor: pointer;
    margin: 20px auto;
    display: none;
}
form .button_doc:hover{
    margin: 25px auto;
}
form #button_person, #limpar, #limparb, #limparp{
    width: 30%;
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    background-color: rgb(28, 158, 97);
    color: white;
    box-shadow: 5px 2px 5px #707070;
    outline: none;
    cursor: pointer;
}

form #button_person:hover{
    margin: 0px 0px 0px 10px;
}

form a{
    width: 200px;
    padding: 10px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    background-color: rgba(28, 158, 97);
    margin: 10px;
}

form #inicio{
    width: 150px;
    padding: 5px;
    font-size: 14px;
    margin: 5px;
    float: left;
}
form #filterb, #limparb, #filterp, #limparp{
    margin: 5px auto;
    display: none;
}
form #limpar, #limparb, #limparp{
    width: 15%;
}
form hr{
    background-color:  rgba(28, 158, 97);
}